Doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Simple template
    body
      div.content
        div.login-form
          Logowanie powiodło się.
           Cześć #{user.displayName}
           Witam Cię na naszej stronie
